# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Jupyter Notebook checkpoint

# Environment variab

# IDE / Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build files
build/
dist/
*.egg-info/

# Model files / large files
*.h5

*.joblib
